In [2]:
import pandas as pd

In [3]:
# loading data
phd = pd.read_csv("heart.csv")

In [4]:
phd

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,Target
0,63,1,typical,145,233,1,2,150,0,2.3,3,0,fixed,0
1,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3,normal,1
2,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2,reversable,1
3,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0,normal,0
4,41,0,nontypical,130,204,0,2,172,0,1.4,1,0,normal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,45,1,typical,110,264,0,0,132,0,1.2,2,0,reversable,1
299,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2,reversable,1
300,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1,reversable,1
301,57,0,nontypical,130,236,0,2,174,0,0.0,2,1,normal,1
302,38,1,nonanginal,138,175,0,0,173,0,0.0,1,2,normal,0

## Running .head, .info, .describe

In [5]:
phd.head()

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,Target
0,63,1,typical,145,233,1,2,150,0,2.3,3,0,fixed,0
1,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3,normal,1
2,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2,reversable,1
3,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0,normal,0
4,41,0,nontypical,130,204,0,2,172,0,1.4,1,0,normal,0

In [6]:
phd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Age        303 non-null    int64
 1   Sex        303 non-null    int64
 2   ChestPain  303 non-null    object
 3   RestBP     303 non-null    int64
 4   Chol       303 non-null    int64
 5   Fbs        303 non-null    int64
 6   RestECG    303 non-null    int64
 7   MaxHR      303 non-null    int64
 8   ExAng      303 non-null    int64
 9   Oldpeak    303 non-null    float64
 10  Slope      303 non-null    int64
 11  Ca         303 non-null    int64
 12  Thal       301 non-null    object
 13  Target     303 non-null    int64
dtypes: float64(1), int64(11), object(2)
memory usage: 33.3+ KB

In [7]:
phd.describe()

,Age,Sex,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.438944,0.679868,131.689769,246.693069,0.148515,0.990099,149.607261,0.326733,1.039604,1.600660,0.686469,0.458746
std,9.038662,0.467299,17.599748,51.776918,0.356198,0.994971,22.875003,0.469794,1.161075,0.616226,0.947661,0.499120
min,29.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,48.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,0.000000
50%,56.000000,1.000000,130.000000,241.000000,0.000000,1.000000,153.000000,0.000000,0.800000,2.000000,0.000000,0.000000
75%,61.000000,1.000000,140.000000,275.000000,0.000000,2.000000,166.000000,1.000000,1.600000,2.000000,1.000000,1.000000
max,77.000000,1.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,3.000000,3.000000,1.000000

In [8]:
# creating a copy of the data by exporting it to ensure I have a second copy
phd.to_csv("phdc.csv", index=False)

In [11]:
# checking if copying worked
phdc = pd.read_csv("phdc.csv")
phdc.head(4)

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,Target
0,63,1,typical,145,233,1,2,150,0,2.3,3,0,fixed,0
1,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3,normal,1
2,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2,reversable,1
3,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0,normal,0

In [13]:
# Locating rows whose Thal columns have null in them 
phd["Thal"].isna()

0      False
1      False
2      False
3      False
4      False
       ...
298    False
299    False
300    False
301    False
302    False
Name: Thal, Length: 303, dtype: bool

In [17]:
# Using null masking based on gemini advice
null_mask = phd['Thal'].isnull()
rows_with_nulls = phd[null_mask]
print("\n--- Rows with Null Data (The Result) ---")
print(rows_with_nulls)

--- Rows with Null Data (The Result) ---
     Age  Sex     ChestPain  RestBP  Chol  Fbs  RestECG  MaxHR  ExAng  \
87    53    0    nonanginal     128   216    0        2    115      0
266   52    1  asymptomatic     128   204    1        0    156      1

     Oldpeak  Slope  Ca Thal  Target
87       0.0      1   0  NaN       0
266      1.0      2   0  NaN       1

In [21]:
# Confirming indices are correct
# found code at https://www.geeksforgeeks.org/pandas/select-rows-columns-by-name-or-index-in-pandas-dataframe-using-loc-iloc/
t1 = phd.loc[:87]
t2 = phd.loc[:266]

In [22]:
print(t1)
print(t2)

    Age  Sex     ChestPain  RestBP  Chol  Fbs  RestECG  MaxHR  ExAng  Oldpeak  \
0    63    1       typical     145   233    1        2    150      0      2.3
1    67    1  asymptomatic     160   286    0        2    108      1      1.5
2    67    1  asymptomatic     120   229    0        2    129      1      2.6
3    37    1    nonanginal     130   250    0        0    187      0      3.5
4    41    0    nontypical     130   204    0        2    172      0      1.4
..  ...  ...           ...     ...   ...  ...      ...    ...    ...      ...
83   68    1    nonanginal     180   274    1        2    150      1      1.6
84   52    1    nontypical     120   325    0        0    172      0      0.2
85   44    1    nonanginal     140   235    0        2    180      0      0.0
86   47    1    nonanginal     138   257    0        2    156      0      0.0
87   53    0    nonanginal     128   216    0        2    115      0      0.0

    Slope  Ca        Thal  Target
0       3   0       fixed       0
1       2   3      normal       1
2       2   2  reversable       1
3       3   0      normal       0
4       1   0      normal       0
..    ...  ..         ...     ...
83      2   0  reversable       1
84      1   0      normal       0
85      1   0      normal       0
86      1   0      normal       0
87      1   0         NaN       0

[88 rows x 14 columns]
     Age  Sex     ChestPain  RestBP  Chol  Fbs  RestECG  MaxHR  ExAng  \
0     63    1       typical     145   233    1        2    150      0
1     67    1  asymptomatic     160   286    0        2    108      1
2     67    1  asymptomatic     120   229    0        2    129      1
3     37    1    nonanginal     130   250    0        0    187      0
4     41    0    nontypical     130   204    0        2    172      0
..   ...  ...           ...     ...   ...  ...      ...    ...    ...
262   60    0       typical     150   240    0        0    171      0
263   44    1    nonanginal     120   226    0        0    169      0
264   61    1  asymptomatic     138   166    0        2    125      1
265   42    1  asymptomatic     136   315    0        0    125      1
266   52    1  asymptomatic     128   204    1        0    156      1

     Oldpeak  Slope  Ca        Thal  Target
0        2.3      3   0       fixed       0
1        1.5      2   3      normal       1
2        2.6      2   2  reversable       1
3        3.5      3   0      normal       0
4        1.4      1   0      normal       0
..       ...    ...  ..         ...     ...
262      0.9      1   0      normal       0
263      0.0      1   0      normal       0
264      3.6      2   1      normal       1
265      1.8      2   0       fixed       1
266      1.0      2   0         NaN       1

[267 rows x 14 columns]

In [23]:
# Deleting the rows using drop()
# Learned drop here: https://docs.vultr.com/python/third-party/pandas/drop
phd = phd.drop([87, 266])

In [24]:
# confirming deletion
t1 = phd.loc[:87]
t2 = phd.loc[:266]
print(t1)
print(t2)

    Age  Sex     ChestPain  RestBP  Chol  Fbs  RestECG  MaxHR  ExAng  Oldpeak  \
0    63    1       typical     145   233    1        2    150      0      2.3
1    67    1  asymptomatic     160   286    0        2    108      1      1.5
2    67    1  asymptomatic     120   229    0        2    129      1      2.6
3    37    1    nonanginal     130   250    0        0    187      0      3.5
4    41    0    nontypical     130   204    0        2    172      0      1.4
..  ...  ...           ...     ...   ...  ...      ...    ...    ...      ...
82   39    1    nonanginal     140   321    0        2    182      0      0.0
83   68    1    nonanginal     180   274    1        2    150      1      1.6
84   52    1    nontypical     120   325    0        0    172      0      0.2
85   44    1    nonanginal     140   235    0        2    180      0      0.0
86   47    1    nonanginal     138   257    0        2    156      0      0.0

    Slope  Ca        Thal  Target
0       3   0       fixed       0
1       2   3      normal       1
2       2   2  reversable       1
3       3   0      normal       0
4       1   0      normal       0
..    ...  ..         ...     ...
82      1   0      normal       0
83      2   0  reversable       1
84      1   0      normal       0
85      1   0      normal       0
86      1   0      normal       0

[87 rows x 14 columns]
     Age  Sex     ChestPain  RestBP  Chol  Fbs  RestECG  MaxHR  ExAng  \
0     63    1       typical     145   233    1        2    150      0
1     67    1  asymptomatic     160   286    0        2    108      1
2     67    1  asymptomatic     120   229    0        2    129      1
3     37    1    nonanginal     130   250    0        0    187      0
4     41    0    nontypical     130   204    0        2    172      0
..   ...  ...           ...     ...   ...  ...      ...    ...    ...
261   58    0    nontypical     136   319    1        2    152      0
262   60    0       typical     150   240    0        0    171      0
263   44    1    nonanginal     120   226    0        0    169      0
264   61    1  asymptomatic     138   166    0        2    125      1
265   42    1  asymptomatic     136   315    0        0    125      1

     Oldpeak  Slope  Ca        Thal  Target
0        2.3      3   0       fixed       0
1        1.5      2   3      normal       1
2        2.6      2   2  reversable       1
3        3.5      3   0      normal       0
4        1.4      1   0      normal       0
..       ...    ...  ..         ...     ...
261      0.0      1   2      normal       1
262      0.9      1   0      normal       0
263      0.0      1   0      normal       0
264      3.6      2   1      normal       1
265      1.8      2   0       fixed       1

[265 rows x 14 columns]